
body {
    margin-top: 5%;
    margin-left: 3%;
}

#head-title {
    margin-bottom: 5%;
}


#div-text-input {
    margin-top: 5%;
}


#div-view-study {

    display : none;
    margin-top: 20%;
    margin-left: 3%;
    margin-right: 40%;
    

  
}



#div-view-report {

    display : none;
    margin-top: 10%;

}

#buttons-correct-wrong {
    
    margin-top: 10%;
}


#button-exit {
    margin-top: 5%;
}